# Polygon PoS Mainnet
ALCHEMY_API=
PRIVATE_KEY=
POLYGON_RPC_URL=
MARKETPLACE_ADDRESS=0xA8581b7B11e44E27875affb2D84cd81C85DBE871
POLYSCAN_API_KEY=

# Infura
INFURA_API=
INFURA_IPFS_ID=
INFURA_IPFS_SECRET=
INFURA_IPFS_DOMAIN=

# Database (optional - for device API)
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
